/* ================ CSS PARA LA VIEW NOT FOUND ================ */

.style-format {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    font-family: "Tilt Neon";
    color: #141414;
    box-sizing: border-box;
    background-color: #749C74;
    background-image: radial-gradient(circle at center, 
                      rgba(0, 128, 0, 0.8) 0%, 
                      rgba(0, 100, 0, 0.6) 50%, 
                      rgba(0, 64, 0, 0.4) 80%,
                      rgba(0, 0, 0, 0.1) 100%);
}

.style-format-h1 {
    align-self: center;
    font-size: 100px;
}

.style-format-h2 {
    font-size: 20px;
    align-self: center;
}

.style-format-text {
    font-size: 60px;
    align-self: center;
}

.style-format-link {
    color: blue;
}

.password-recovery-input {
    width: 40dvw;
    padding: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.password-recovery-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #333;
}

#password-recovery-button {
    background-color: #141414; 
    color: #ffffff;
    font-family: "Tilt Neon";
}