
/* PALETA DE COLORES GRADIENTE DE MÁS CLARO A MÁS OSCURO */

    #main-black{color: #333;}
    #main-white{color: #FFF;}
    #main-color0{color: #abe8ab;}
    #main-color1{color: #749c74;}
    #main-color2{color: #568d75;}
    #main-color3{color: #3f7c75;}
    #main-color4{color: rgb(50, 107, 112);}
    #main-color5{color: rgb(47, 89, 102);}
    #main-color6{color: #2F4858;}

/* ================ CSS DE LA APP ================ */

body {
    font-family: "Tilt Neon";
}